@font-face {
font-family: Jura; /* Гарнитура шрифта */
src: url(../fonts/JuraDemiBold.ttf); /* Для IE5-8 */
src: local(Jura), url(../fonts/JuraDemiBold.ttf); /* Для остальных браузеров */
}

@font-face {
font-family: etna; /* Гарнитура шрифта */
src: url(../fonts/etnafreefont.otf); /* Для IE5-8 */
src: local(etna), url(../fonts/etnafreefont.otf); /* Для остальных браузеров */
}

@font-face {
font-family: DroidSans; /* Гарнитура шрифта */
src: url(../fonts/droidsans.ttf); /* Для IE5-8 */
src: local(DroidSans), url(../fonts/droidsans.ttf); /* Для остальных браузеров */
}

html {
  box-sizing: border-box;
}
body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(186, 186, 186);
    background-color: #000;
    margin: 0;
    font-family: DroidSans;
}
p {
    width: 100%;
    font-family: DroidSans;
}
.content-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
    font-family: DroidSans;    
}
.tabbed-text{
    padding-left: 30px;
    padding-top: 30px;
}
.logo {
    /*font-family: etna;*/
    width: 100%;
}
.zag {
    /*font-family: etna;*/
    width: 100%;
}
.content {
    /*font-family: DroidSans;*/
    display:block;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.box {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 32%;
    margin-top: 20px;
}
details {
    width: 100%;
}
/* add wrapper, continue with font-size */
@keyframes invisiblyGrowFontSize {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 1em;
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.details-anim[open] .details-content {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 500ms, 200ms;
    animation-delay: 0ms, 500ms;
}

.details-anim:hover summary { color: lightblue; }

summary {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    text-decoration-line: underline;
}
/*===================================
===== НАСТРОЙКИ ШРИФТОВ И ЦВЕТОВ =====
===================================*/

h1 {
    text-align: center;
    color: rgb(186, 186, 186);
}
h2 {
    text-align: center;
    color: rgb(186, 186, 186);
}

a {
    color: white; /* Цвет ссылок */
}
a:visited {
    color: lightskyblue; /* Цвет посещенных ссылок */
}
a:active {
    color: lightblue; /* Цвет активных ссылок */
}

/*===================================
===== ГРИД =====
===================================*/
*, *::before, *::after {
  box-sizing: inherit;
}
.grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;  
    grid-template-areas: "a b c";
}
.grid__item {

}
.grid__item:nth-child(1) {
    grid-area: a;
}
.grid__item:nth-child(2) {
    grid-area: b;
}
.grid__item:nth-child(3) {
    grid-area: c;
}

/*===================================
===== МЕНЮ =====
===================================*/
/* !!!!!НУ ТЫ СКАЗАЛ ЧТО БУДЕШЬ ПЕРЕДЕЛЫВАТЬ ЕГО ТАК ЧТО ВОТ!!!!! */
.topnav {
    font-family: "CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif;
    padding: 40px 28px 25px 0;
    width: 98%;
}

ul.topnav {
    font-size: 1em;
    line-height: 0.5em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.topnav li a {
    color: rgb(186, 186, 186);
    display: block;
    font-size: 11px;
    font-weight: bolder;
    line-height: 10px;
    padding: 10px 5px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #D3D3D3;
}
ul.topnav li a:hover {
    background-color: #7D7D7D;
    color: white;
}

ul.topnav > li > ul.ul-focus {display: block;}

ul.topnav ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.topnav ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.topnav ul li a {
    font-size: 10px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 20px;
}
ul.topnav ul li a:hover {
    background-color: #DCDCDC;
    color: #555;
}
ul.topnav ul ul li a {
    color: silver;
    padding-left: 40px;
}
ul.topnav ul ul li a {
    background-color: #D7D7D7;
    color: #555555;
}
ul.topnav span {
    float: right;
}

ul.topnav a.active {
    background-color: lightblue;
    color: black;
}

/*===================================
===== ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ =====
===================================*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*===================================
===== Временные элементы =====
===================================*/

.a-like-button {
	height: 30px;
	display: inline-block;
	background-color: #333333;
	color: #f1f1f1; /* цвет текста */
	text-align: center; /* расположение текста по центру */
	font-size: 17px; /* размер шрифта */
}

.a-like-button a {
	padding-top: 5px;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-decoration: none; 
	color: #f1f1f1; /* цвет текста */
}

.a-like-button a:hover {
	background-color: #f1f1f1; /* цвет фона элемента под курсором */
	color: #333333; /* цвет текста элемента под курсором */
}